*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(136, 199, 211);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.main h1{
    color: red;
    margin: 40px 0 40px 0;
}

.container{
    width: 40%;
    background-color: white;
    padding: 30px 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.question h2{
    height: 54px;
}

.options{
    margin: 30px 0;
    font-size: 1.2rem;
}

.options>div>label{
    display: block;
    padding: 12px;
}

.btn{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.sub{
    width: 50%;
}

.submit{
    width: 100%;
    padding: 6px;
    background-color: rgb(16, 129, 209);
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    border: none;
}

.backbtn,.forwardbtn{
    padding: 6px;
    background-color: rgb(16, 129, 209);
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    border: none;
}